/*-----Home-----*/
.services {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services, .copy {padding: 10px 0px;}
.feature-box {
	display: block;
	position: relative;
	width: 100%;
	cursor: pointer;
	padding: 10px 0px;
}
.feature-box div {
	text-align: center;
	padding: 10px;
}
.feature-box p {
	padding-top: 10px;
	color: #ffffff !important;
}
.feature-box .fa-icon {
	height: 60px;
	width: 60px;
	padding: 12px;
	transition-duration: .5s;
}
.feature-box .fa-icon:hover {
    transform: scale(1.2,1.2);
}

/* Responsive */
@media only screen and (min-width: 640px) {
	.services {
		flex-direction: row;
	}
	.feature-box {
		flex-basis: 30%;
	}
}