/*-----Footer-----*/
#footer {
	margin-top: 4em;
	padding: 20px 0px;
	flex-direction: column;
	align-items: center;
  height: 70px;
  display: flex;
  flex-shrink: 0;
}
#social {
	display: flex;
}
#social a {
	padding: 10px;
}
#social a:link,
#social a:visited {
	color: var(--var-color-black);
}
#social .fontawesome-icon {
	width: 40px;
	height: 40px;
}
.attribution {
	font-size: .7em;
	text-align: center;
}