/*-----Portfolio-----*/
.portfolio-item {
  margin-bottom: calc(var(--var-spacing) * 6);

  @media screen and (min-width: 768px) {
    margin-bottom: calc(var(--var-spacing) * 2);
  }
}
.portfolio-item__category {
  color: var(--var-color-light-gray);
  font-size: 1rem;
  font-style: italic;
}
.portfolio-item__list {
  list-style: none;
  padding-bottom: calc(var(--var-spacing) * 2);

  .portfolio-item__list-item {
    margin-bottom: var(--var-spacing);
  }
  .portfolio-item__list-item-icon {
    margin-right: var(--var-spacing);

    svg {
      aspect-ratio: 1;
      width: 1rem;
    }
  }
}
.portfolio-item__content-media {
  gap: calc(var(--var-spacing) * 4);
  list-style: none;

  media-play-button,
  media-mute-button,
  media-time-range,
  media-time-display {
    padding-right: var(--var-spacing);
  }
  media-play-button {
    padding-left: var(--var-spacing);
  }
  media-fullscreen-button {
    padding-right: var(--var-spacing);
  }
}
.portfolio-item__content-media--video {
  media-controller {
    box-shadow: 24px 24px 0px 0px  var(--var-color-purple);
    -webkit-box-shadow: 24px 24px 0px 0px  var(--var-color-purple);
    -moz-box-shadow: 24px 24px 0px 0px  var(--var-color-purple);
  }
}
.portfolio-item__content-media--image {
  img {
    box-shadow: 24px 24px 0px 0px  var(--var-color-blue);
      -webkit-box-shadow: 24px 24px 0px 0px  var(--var-color-blue);
      -moz-box-shadow: 24px 24px 0px 0px  var(--var-color-blue);
    height: 100%;
    width: 100%;
  }
}
.portfolio-item__content-media--audio {
  media-controller[audio] {
    box-shadow: 24px 24px 0px 0px var(--var-color-orange);
      -webkit-box-shadow: 24px 24px 0px 0px var(--var-color-orange);
      -moz-box-shadow: 24px 24px 0px 0px var(--var-color-orange);
  }
}