/*-----Resume-----*/
ul {
	list-style-type: square;
	margin: 10px 0px 0px 40px;
}
li {
	font-size: 1.1em;
	padding: 2px 0px;
}
.job-title {font-size: 1.2em;}
.date {font-size: .94em;}
.credits {
	text-transform: uppercase;
	font-weight: 400;
	margin: 10px 0px 0px 20px;
}
.credits-list {margin-left: 20px;}
.resume-list {
	@media only screen and (min-width: 530px) {
		min-width: 33%;
	}
}
.resume-section, 
.resume-list {padding: 0px 20px 40px 20px;}
.resume-list-container {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 530px) {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
.resume-section p {
	padding-bottom: 0px;
}