/*-----Contact Form-----*/
/*Form Labels*/
#contactForm label {display: none;}
/*Form Positioning*/
#formHeading {text-align: center;}
/*Form Container*/
#contactForm div.wpcf7 {
	padding: 20px;
	border: 1px solid c('dark-blue');
}
.wpcf7-form {
	display: flex;
	flex-direction: column;
}
/*Form Inputs*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
	width: 100%;
	margin: 6px 0px;
	display: block;
    box-sizing: border-box;
    padding: 5px 10px;
	background-color: c('white');
	color: c('dark-blue');
    outline: 1px solid c('light-blue');
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em !important;
    overflow: auto;
}
.wpcf7 textarea {
	resize: vertical;
	height: 150px;
	border: none;
}
.wpcf7 textarea:focus,
.wpcf7 input:focus {outline: 1px solid c('magenta');}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="submit"] {
	height: 45px;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="submit"] {
	box-sizing: border-box;
	border: none;
}
.wpcf7 input[type="submit"]:focus {outline: none;}
.wpcf7 input[type="submit"]:hover {background: c('dark-red'); color: c('white');}
.wpcf7-submit {
	display: block;
	position: relative;
	top: 20px;
	width: 160px;
	margin: 0 auto;
	background: c('light-blue');
	font-family: 'Josefin Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: .5s;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: c('light-gray') !important;}
/*Form Alerts*/
p span .wpcf7-not-valid,
span .wpcf7-not-valid {
	border-bottom: 1px solid red !important;
}
div.wpcf7-validation-errors {display: none !important;}
div.wpcf7-response-output {
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: .8em;
    box-sizing: border-box;
    color: c('dark-blue');
}
span.wpcf7-not-valid-tip {font-size: .8em;}
div.wpcf7-spam-blocked,
div.wpcf7-mail-sent-ng,
div.wpcf7-mail-sent-ok {border-width: 0 0 1px 0 !important;}
div.wpcf7-spam-blocked,
div.wpcf7-mail-sent-ng {border-color: transparent transparent red transparent !important;}
div.wpcf7-mail-sent-ok {border-color: transparent transparent c('white') transparent !important;}
.wpcf7 .ajax-loader {
	position: relative;
	bottom: 48px;
}
.wpcf7-form div:nth-child(6) {
	width: 100%;
	text-align: center;
}

/* Responsive */
@media only screen and (min-width: 768px) {
	.wpcf7-form {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.wpcf7-form div:nth-child(2),
	.wpcf7-form div:nth-child(3) {
		width: 48%;
		flex-basis: 48%;
	}
	.wpcf7-form div:nth-child(4),
	.wpcf7-form div:nth-child(5),
	.wpcf7-form div:nth-child(7) {
		width: 100%;
		flex-basis: auto;
	}
}