/*-----Contact Form-----*/
/*Form Labels*/
#contactForm label {display: none;}
/*Form Positioning*/
#formHeading {text-align: center;}
/*Form Container*/
#contactForm div.wpcf7 {
	padding: 20px;
	border: 1px solid #020033;
}
.wpcf7-form {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
/*Form Inputs*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
	width: 100%;
	margin: 6px 0px;
	display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: #fff;
    color: #020033;
    outline: 1px solid #a4a3b5;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em !important;
    overflow: auto;
}
.wpcf7 textarea {
	resize: vertical;
	height: 150px;
	border: none;
}
.wpcf7 textarea:focus,
.wpcf7 input:focus {outline: 1px solid #e2374b;}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="submit"] {
	height: 45px;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="submit"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
.wpcf7 input[type="submit"]:focus {outline: none;}
.wpcf7 input[type="submit"]:hover {background: #64001c; color: #ffffff;}
.wpcf7-submit {
	display: block;
	position: relative;
	top: 20px;
	width: 160px;
	margin: 0 auto;
	background: #a4a3b5;
	font-family: 'Josefin Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: .5s;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: #b6b6b6 !important;}
/*Form Alerts*/
p span .wpcf7-not-valid,
span .wpcf7-not-valid {
	border-bottom: 1px solid red !important;
}
div.wpcf7-validation-errors {display: none !important;}
div.wpcf7-response-output {
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: .8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #020033;
}
span.wpcf7-not-valid-tip {font-size: .8em;}
div.wpcf7-spam-blocked,
div.wpcf7-mail-sent-ng,
div.wpcf7-mail-sent-ok {border-width: 0 0 1px 0 !important;}
div.wpcf7-spam-blocked,
div.wpcf7-mail-sent-ng {border-color: transparent transparent red transparent !important;}
div.wpcf7-mail-sent-ok {border-color: transparent transparent #ffffff transparent !important;}
.wpcf7 .ajax-loader {
	position: relative;
	bottom: 48px;
}
.wpcf7-form div:nth-child(6) {
	width: 100%;
	text-align: center;
}
#recaptcha {margin-top: 2em;}
#recaptcha div {margin: 0 auto;}
#recaptcha div div iframe {width: 100%; height: 100%;}

/* Responsive */
@media only screen and (min-width: 768px) {
	.wpcf7-form {
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.wpcf7-form div:nth-child(2),
	.wpcf7-form div:nth-child(3) {
		width: 48%;
		-ms-flex: 0 0 48%;
		-webkit-flex-basis: 48%;
		flex-basis: 48%;
	}
	.wpcf7-form div:nth-child(4),
	.wpcf7-form div:nth-child(5),
	.wpcf7-form div:nth-child(7) {
		width: 100%;
		flex-basis: auto;
	}
}